body {
    padding: 0;
    margin: 0;
    background-image:
          url("https://media.giphy.com/media/fV5FG8TpqGcso/giphy-facebook_s.jpg");
}

.container {
    position: relative;
	display: flex;
	flex-direction: column;
	top: 20%;
	bottom: 0;
	left: 0;
	right: 0;
    /* responsive */
	width: 500px;
	max-width: 70%;
}


.game {
    position:relative;
    border-radius:50%;
    width:500px;
    height:500px;
    background:#000;
    margin:20px;
}

.game::before {
   content:' ';
   left:50%;
   top:50%;
   border-radius:85px;
   position:relative;
   display:block;
   width:170px;
   height:180px;
   background:#000;
   z-index:99;
   margin: -85px;
}

#green {
    left:65px;
    top:75px;
    background:#66FF66;
    border-radius:320px 20px 20px;
}

#red {
    right:65px;
    top:75px;
    background:#FF007C;
    border-radius:20px 320px 20px 20px;

}

#blue {
    bottom:55px;
    right:65px;
    background:#50BFE6;
    border-radius:20px 20px 320px 20px;

}

#yellow {
    bottom:55px;
    left:65px;
    background: #FFF700;
    border-radius:20px 20px 20px 320px;

}

.press {
    position:absolute;
    width:180px;
    height:180px;
    background:rgba(10,10,10,10);
    opacity: 0.6;
    transition:all 0.04s ease;

}

.press:hover {
    opacity: 0.9;
}

.press:active {
    opacity: 1;
}

.pressed {
    opacity: 1;
    transform: scale(1.4);
}

.game .dashboard {
    font-family: 'Acme', sans-serif;
    /*font-size: 17px;*/
    line-height: 400%;
    position:absolute;
    cursor: pointer;
    display:block;
    background-image:   url("https://media.giphy.com/media/fV5FG8TpqGcso/giphy-facebook_s.jpg");
    width:150px;
    height:90px;
    border-radius:70px;
    left:47%;
    top:48%;
    text-align:center;
    z-index:100;
    margin:-60px;
}

.title {
  font-size: 28px;
  color: #FF00CC;
  letter-spacing: .2em;
}

#counter {
  position:flex;
    width: 5px;
    height: 5px;
    font-size: 5em;
    color: #00CC99
;
   background-image:   url("https://media.giphy.com/media/fV5FG8TpqGcso/giphy-facebook_s.jpg");
}

.btn-circle {
    width: 35px;
    height: 35px;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 50%;
}

.btn-circle#start {
    background-color: #AAF0D1;
}

.btn-circle#strict {
    background-color: #FF007C;
}

#start {
  margin-left:40px;
  display:flex;
  vertical-align: middle;
}

#strict {
    margin-top:6px;
}
